// color
$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 100%, 100%);
$gray-100: hsl(216, 12%, 54%);
$gray-300: hsl(218, 21%, 28%);
$gray-500: hsl(217, 12%, 63%);
$gray-900: hsl(213, 19%, 18%);
$gray-950: hsl(216, 12%, 8%);

// others
$circle: 50%;